# Build files
*.o
*.out
*.exe
*.log
*.a
*.so
*.dSYM/

# Binaries for programs and plugins
adapter_example
adapter_example.exe
adapter_example.dSYM/
adapter_example.so

# VS Code
.vscode/

# Other
build/